body{
    background-color: blanchedalmond;
}

/*.gridContainer{
    display: grid;
    margin: 5em auto;
    width: 80%;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(10em, 10em);
    grid-gap: 0.5em;
    grid-auto-flow: row dense;
}*/

h1{
    text-align: center;
    color: brown;
}

/*img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

.bike{
    /*grid-area: span 1/ span 8;*/
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100px;
    height: 100px;
}

.paracaida{
    grid-column: 2/4;
    grid-row: 1/2;
    width: 200px;
    height: 200px;
}

.surf{
    /*grid-area: span 1/ span 1/ span 1/ span 1;*/
    grid-column:2/3;
    grid-row:2/3;
    width: 300px;
    height: 300px;
}

.skate{
    /*grid-area: auto;*/
    grid-column: 1/3 ;
    grid-row: 3/4;
    width: 300px;
    height: 200px;
}

.buzeo{
    grid-column: 3/4;
    grid-row: 1/4;
    width: 100px;
    height: 100px;
}

.imagen6{
    grid-column: 5/4;
    grid-row: 2/3;
    width: 100px;
    height: 200px;
}

.imagen9{
    grid-column: 2/3;
    grid-row: 3/2;
    width: 100px;
    height: 50px;
}

.deportes{
    display: grid;
    justify-content: center;
    grid-template: 100px 100px 100px/ 100px 100px 100px;
    grid-gap: 5px;
}

.deportes>img{
    width: 100%;
    height: 100%;
    margin: 0;
}